.button {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif),
    sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 500px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  min-block-size: 32px;
  padding-inline: 16px;
}

.button:hover {
  transform: scale(1.04);
}

.primary {
  color: black;
  background-color: white;
}

.secondary {
  color: white;
  background-color: #282828;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.outlined {
  color: white;
  background-color: transparent;
  border: 1px solid #727272;
}

.outlined:hover {
  border-color: #fff;
}