.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  color: #fff;
}

.list-item {
  margin: 0;
  padding: 0 16px;
  border: 1px solid transparent;
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 4px;
}

.list-item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.img-item {
  margin-right: 16px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 8px;
  gap: 8px;
}

span {
  color: #b3b3b3;
}
