.container {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  width: 100%;
  align-items: center;
  background-color: #121212;
  border-radius: 8px;
  cursor: default;
  display: flex;
  width: 100%;
  color: #a7a7a7;
  min-height: 30px;
}

.container-primary {
}

.container-secondary {
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}
